.button {
  --padding-buttom-y: #{fluid(15, 12)};
  --padding-buttom-x: #{fluid(16, 14)};

  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  transition-duration: var(--transition-duration);
  height: 44px;

  @include hover {
    background-color: var(--color-blue-gray);
  }

  &:active {
    background-color: var(--color-light-2);
  }

  &:disabled {
    opacity: 0.65;
  }

  &--accent {
    border-radius: var(--border-radius-l);
    background-color: var(--color-blue-gray-second);
  }

  &--with-dot {
    position: relative;
    background-color: var(--color-light-2);
    border: var(--border-one);
    color: var(--color-blue);
    border-radius: var(--border-radius-l);
    padding-inline: 38px 20px;

    &::before {
      @include square(10px);

      content: "";
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 20px;
      translate: 0 -50%;
      background-color: var(--color-green);
    }

    @include hover {
      &::before {
        box-shadow: inset 0 0 0 1px var(--color-blue);
      }
    }
  }

  &--blue {
    color: var(--color-light);
    border-radius: var(--border-radius-l);
    background-color: var(--color-blue);
  }
}
