.burger-button {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: var(--border-radius-xs);

  @include square(40px);


  @include hover {
    .burger-button__line {
      stroke: var(--color-accent);
    }
  }

  @include tablet {
    display: inline-flex;
  }
}

.burger-button.is-active .burger-button__line {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
}

.burger-button.is-active .burger-button__line--2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
}

.burger-button:not(.is-active) .burger-button__line--3 {
  stroke-dasharray: 60 207;
}

.burger-button__line {
  fill: none;
  stroke: var(--color-gray-2);
  stroke-width: 6;
  stroke-linecap: round;
  stroke-dasharray: 60 207;
  transition: stroke-dasharray 0.4s cubic-bezier(0.4, 0, 0.2, 1),
  stroke-dashoffset 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-button__line--2 {
  stroke-dasharray: 60 60;
}
