:root {
  --color-light: #f9f9f9;
  --color-light-2: #E9EEF5; // main-bg-page
  --color-black: #111;
  --color-blue-gray: #D8E2EC; // bg-section
  --color-blue-gray-second: #DEE5EF; // border-color
  --color-gray: #F1F1F1;
  --color-gray-2: #798695;
  --color-blue: #1A4FE8;
  --color-dark: #20242F;
  --color-accent: #6B98F0;
  --color-second: #C3D0E2;
  --color-green: #21AF64;
  --color-orange: #FF6600;
  --color-green-bg: #EFFEDD;

  --color-hover: var(--color-blue);
  --color-active: rgba(26, 79, 232, 80%);

  --color-shadow-hover: 0 8px 16px rgba(0, 0, 0, 0.15);
  --color-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.10);
  --color-bg-banner: linear-gradient(180deg, #C1CEE1 0%, #D9E3ED 100%);

  --color-telegtam-1: #517DA2;
  --color-telegtam-2: #50A7EA;
  --color-telegtam-3: #0070FF;

  --border-one: var(--border-width-s) solid var(--color-blue-gray-second);

  --border-second: var(--border-width-m) solid var(--color-accent);
  --border-accent: var(--border-width-m) solid var(--color-accent);
  --border-gray: var(--border-width-s) solid var(--color-gray);

  --border-width-s: 1px;
  --border-width-m: 2px;

  --border-radius-xs: 3px;
  --border-radius-s: 5px;
  --border-radius-m: 10px;
  --border-radius-l: 20px;
  --border-radius-xl: 30px;

  --font-family-base: "Roboto", sans-serif;
  --font-famity-second: "Inter", sans-serif;

  --container-width: #{fluid-to-laptop(
      $container-desktop-width,
      $container-laptop-width
    )};

  --container-width-plus: 1408px;


  --container-extra-width: #{fluid-to-laptop(
      $container-extra-desktop-width,
      $container-laptop-width
    )};
  --container-padding-x: 16px;

  --section-padding-y: #{fluid(30, 15)};

  --transition-duration: 0.2s;
  --transition-duration-longer: 0.4s;

  --z-index-banner-accent-button: 10;
  --z-index-banner-blue-button: 20;

  --z-index-phone-border: 666;
  --z-index-pagination-buttons: 777;
  --z-index-shadow-body: 999;
  --z-index-burger-menu: 1000;
}

.theme-dark {
  --color-light: #1a1a1a;
  --color-light-2: #222831; // main-bg-page
  --color-black: #f9f9f9;
  --color-blue-gray: #2c3440; // bg-section
  --color-blue-gray-second: #3c4754; // border-color
  --color-gray: #333840;
  --color-gray-2: #9ca8b6;
  --color-blue: #3b6ef7;
  --color-dark: #f1f1f1;
  --color-accent: #8aa9f5;
  --color-second: #4b5b6f;
  --color-green: #35d88a;

  --color-hover: var(--color-blue);
  --color-active: rgba(59, 110, 247, 0.8);

  --color-shadow: 0 3px 12px 0 rgba(255, 255, 255, 0.15);
  --color-bg-banner: linear-gradient(180deg, #2e3b4d 0%, #3c4754 100%);
}