.logo {
  display: flex;
  align-items: center;
  transition-duration: var(--transition-duration);

  .icon {
    width: fluid(230, 140);
    height: fluid(74, 29);
    @include hover {
      color: var(--color-hover);
    }
  }
}
